<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!--Include Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body class="container">
    <nav class="row p-3">
        <p>Company Name</p>
        <div class="d-flex justify-content-between">
            <h4>Job Title</h4>
            <a type="button" class="btn btn-success">
                <strong>APPLY NOW</strong>
            </a>
        </div>
        <p>
            Brief Job Description
        </p>
    </nav>
    <main class="row p-3">
        <div class="col-6">
            <h3 class="text-center">
                About the Internship
            </h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum hic ipsa maiores molestias odit officiis provident quam quibusdam quisquam, rem repellendus similique sint sunt tempore temporibus tenetur voluptate! Sed?</p>
            <br>

            <h3 class="text-center">
                More About Us
            </h3>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum nihil soluta! Ab dignissimos dolor dolorem, dolores eaque earum enim fugiat iusto maxime nihil nulla quia, sed tempore velit voluptatem?
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur expedita pariatur veritatis voluptates. A asperiores eaque eligendi facere, fugit itaque libero nostrum nulla quasi sunt ullam ut, voluptatibus, voluptatum.</p>
            <br>

            <h3 class="text-center">
                Meet Our Team
            </h3>
            <hr>
            <div class="quotes">
                <p>
                    <i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio dolor earum enim error esse molestias quidem suscipit temporibus voluptatibus! Accusantium aliquid aut dignissimos eligendi fugiat iure labore maxime totam!"</i>
                    <br>
                    - Person, Title
                </p>
                <p>
                    <i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dolor odit? Ab adipisci aliquid, dolor doloremque enim facere hic ipsam minima natus nemo nostrum porro possimus, tenetur unde vel."</i>
                    <br>
                    - Person, Title
                </p>
                <p>
                    <i>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur cupiditate debitis dignissimos dolorem ex facilis in nam nesciunt nisi obcaecati quidem, quisquam quos tempora temporibus voluptate voluptates voluptatibus voluptatum."</i>
                    <br>
                    - Person, Title
                </p>
            </div>
            <hr>
            <a type="button" class="btn btn-success">
                <strong>APPLY NOW</strong>
            </a>
        </div>
        <div class="col-6">
            <img class="rounded mx-auto d-block" src="https://placehold.co/300x300" alt="">
        </div>
    </main>
    <footer>
        <p>!</p>
    </footer>
</body>
</html>