<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mailing Lists</title>
    <link rel="icon" type="image/x-icon" href="images/reality-architect.jpg">

    <!--Include Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<header class="p-4">
    <nav>
        <a class="h6 nav-header" href="/328/Winter2024-SDEV328-Application/">
            Reality Redefined Industries
        </a>
        <div class="d-flex justify-content-between align-items-center my-2">
            <a class="h4 nav-header" href="/328/Winter2024-SDEV328-Application/">
                Reality Architect Internship
            </a>
        </div>
        <p class="mb-0">
            Greater Unknown, Outer Cosmos • Paid • 12 weeks
        </p>
    </nav>
</header>
<main class="p-4">
    <h1>Job Openings Mailing Lists</h1>
    <hr>

    <form method="post" action="#" id="mailing-lists">
        <div class="row">
            <p class="mb-2">
                <strong>Reality Architecture Jobs</strong>
            </p>
            <div class="row col-11">
                <div class="col-12 col-md-3">
                    <input id="aurora-developer" name="aurora-developer"
                           type="checkbox" value="AURORA Developer">
                    <label for="aurora-developer">AURORA Developer</label>
                    <br>
                    <input id="quantum-sculptor" name="quantum-sculptor"
                           type="checkbox" value="Quantum Sculptor">
                    <label for="quantum-sculptor">Quantum Sculptor</label>
                </div>
                <div class="col-12 col-md-3">
                    <input id="cognitive-reality-analyst" name="cognitive-reality-analyst"
                           type="checkbox" value="Cognitive Reality Analyst">
                    <label for="cognitive-reality-analyst">Cognitive Reality Analyst</label>
                    <br>
                    <input id="rift-technician" name="rift-technician"
                           type="checkbox" value="Rift Technician">
                    <label for="rift-technician">Rift Technician</label>
                </div>
                <div class="col-12 col-md-3">
                    <input id="cosmic-curator" name="cosmic-curator"
                           type="checkbox" value="Cosmic Curator">
                    <label for="cosmic-curator">Cosmic Curator</label>
                    <br>
                    <input id="seismic-choreographer" name="seismic-choreographer"
                           type="checkbox" value="Seismic Choreographer">
                    <label for="seismic-choreographer">Seismic Choreographer</label>
                </div>
                <div class="col-12 col-md-3">
                    <input id="perception-analyst" name="perception-analyst"
                           type="checkbox" value="Perception Analyst">
                    <label for="perception-analyst">Perception Analyst</label>
                    <br>
                    <input id="virtual-explorer" name="virtual-explorer"
                           type="checkbox" value="Virtual Explorer">
                    <label for="virtual-explorer">Virtual Explorer</label>
                </div>
            </div>
            <p class="my-2">
                <strong>Relativistic Verticals</strong>
            </p>
            <div class="row col-11">
                <div class="col-12 col-md-3">
                    <input id="healthcare-simulations" name="healthcare-simulations"
                           type="checkbox" value="Healthcare Simulations">
                    <label for="healthcare-simulations">Healthcare Simulations</label>
                    <br>
                    <input id="neural-communications" name="neural-communications"
                           type="checkbox" value="Neural Communications">
                    <label for="neural-communications">Neural Communications</label>
                </div>
                <div class="col-12 col-md-3">
                    <input id="perception-media" name="perception-media"
                           type="checkbox" value="Perception Media">
                    <label for="perception-media">Perception Media</label>
                    <br>
                    <input id="quantum-experiences" name="quantum-experiences"
                           type="checkbox" value="Quantum Experiences">
                    <label for="quantum-experiences">Quantum Experiences</label>
                </div>
                <div class="col-12 col-md-3">
                    <input id="spacial-agriculture" name="spacial-agriculture"
                           type="checkbox" value="Spacial Agriculture">
                    <label for="spacial-agriculture">Spacial Agriculture</label>
                </div>
                <div class="col-12 col-md-3">
                    <input id="tourism-interfaces" name="tourism-interfaces"
                           type="checkbox" value="Tourism Interfaces">
                    <label for="tourism-interfaces">Tourism Interfaces</label>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-success col-4" type="submit">
                    <strong>Next ></strong>
                </button>
            </div>
        </div>
    </form>
</main>
<footer class="p-4">
</footer>
</body>
</html>