:root {
    --primary-color: #959e98; /* ash gray */
    --primary-color-variant: #748885; /* battleship gray */

    --secondary-color: #1F4F6F; /* indigo dye */
    --secondary-color-variant: #3D8B97; /* blue munsell */

    --accent-color: #56A3A9; /* moonstone */

    /* bootstrap overloads */
    --bs-border-color: #333333;
}

.btn.btn-success {
    background-color: var(--secondary-color-variant);
}

.btn.btn-success:hover {
    background-color: var(--secondary-color);
}

/* general styles */

body, header, footer {
    background-color: var(--primary-color);
}

main {
    background-color: var(--primary-color-variant);
}

#home-banner, .btn {
    box-shadow: 0 0 4px 2px var(--secondary-color);
}

/* navigation */

.nav-header {
    text-decoration: none;
    margin-bottom: 0;
}

/* forms */

/* summary */

#summary-data > p
, #applicant-bio > p {
    margin-bottom: 0;
}

#summary-data > hr {
    margin: .5rem 0;
}

#summary-person-icon {
    width: 18rem;
}
