:root {
    --primary-color: #959e98; /* ash gray */
    --primary-color-variant: #748885; /* battleship gray */

    --secondary-color: #1F4F6F; /* indigo dye */
    --secondary-color-variant: #3D8B97; /* blue munsell */

    --accent-color: #56A3A9; /* moonstone */

    /* bootstrap overloads */
    --bs-border-color: #333333;
}

.btn.btn-success {
    background-color: var(--secondary-color-variant);
}

.btn.btn-success:hover {
    background-color: var(--secondary-color);
}

/* general styles */

body, header, footer {
    background-color: var(--primary-color);
}

main {
    background-color: var(--primary-color-variant);
}

#home-banner, .btn {
    box-shadow: 0 0 4px 2px var(--secondary-color);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

/* navigation */

.nav-header {
    text-decoration: none;
    margin-bottom: 0;
}

/* forms */

label {
    margin-bottom: .25em;
}

.required {
    color: gold;
}

.form-control, textarea {
    padding: .25em .6em;
    border-radius: .25em;
}

input[type=checkbox]
, input[type=radio] {
    transform: scale(1);
    accent-color: var(--accent-color);
}

input[type=checkbox]:hover
, input[type=radio]:hover {
    accent-color: var(--secondary-color);
}

/* personal info */

#select-container {
    position: relative;
}

#dropdown-icon {
    width: 10px;
    position: absolute;
    top: 2px;
    left: 95%;
}

#personal-info > .row
, #personal-info > .row .row {
    --bs-gutter-x: .75em;
}

/* prior experience */

textarea {
    resize: none;
}

.radio-group label {
    margin-right: .75em;
}

/* mailing lists */

#mailing-lists label {
    margin-left: .25em;
}

/* summary */

#summary-data {
    border-radius: .25em;
}

#summary-data > p
, #applicant-bio > p {
    margin-bottom: 0;
}

#summary-data > hr {
    margin: .25em 0;
}

#summary-person-icon {
    width: 18rem;
}